.portfolio__item {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    user-select: none;
    border-radius: 2rem;
}

.swiper-cards {
    max-width: 70vh;
    max-height: 90vh;
}

.portfolio__item-image > img {
    max-width: 70vh;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item-image > video {
    max-width: 70vh;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2 rem;
}

/* ============== MEDIA QUERIES (MEDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {

}

/* ============== MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    
}